



.juni{
    font-size: 100px;
}
 

 .botan1{
    background-color: #4DA768;
    padding: 50px 130px;
    font-size: 100px;
    color: #FFFEF6;
    border-radius: 10px;
    font-family: "Zen Maru Gothic", sans-serif;
    margin-bottom: 150px;
 }

 .botan2{
    font-size: 100px;
    padding: 60px 70px;
    background-color: #4DA768;
    color: #FFFEF6;
    border-radius: 10px;
    font-family: "Zen Maru Gothic", sans-serif;
    
 }


.rank{
    font-size: 50px;
}

.point{
    font-size: 50px;
}

.point2{
    font-size: 50px;
    padding-top: 50px;
}

.radius4{
    text-align: right;
}

.juni{
    padding: 20px;
   
}

p{
    font-size: 50px;
}
