.radius1 {
  border-radius: 10px;
  margin-right: 10px;
  width: 300px;
  height: 50px;
  padding: 12px;
  display: inline-block;
  margin-top: 10px;
  background-color: #4da768;
}
.radius3 {
  border-radius: 10px;
  margin-right: 10px;
  width: 300px;
  height: 50px;
  padding: 12px;
  display: inline-block;
  margin-top: 10px;
  background-color: #4da768;
}

.botan {
  background-color: #4da768;
  padding: 50px 130px;
  font-size: 60px;
  color: #fffef6;
  border-radius: 10px;
  font-family: "Zen Maru Gothic", sans-serif;
}

body {
  background-color: #fffef6;
}

.rank {
  font-size: 20px;
}

.point {
  font-size: 20px;
}

.point2 {
  font-size: 20px;
  padding-top: 50px;
}

.radius4 {
  text-align: right;
}

.juni {
  padding: 20px;
}
