

h5{
    font-size: 100px;
}


input{
    font: 15px/24px sans-serif;
    font-size: 100px;
    box-sizing: border-box;
    width: 750px;
    height: 150px;
    margin: 8px 0;
    padding: 0.3em;
    transition: 0.3s;
    border: 1px solid #1b2538;
    border-radius: 4px;
    outline: none;
    font-family: "Zen Maru Gothic", sans-serif;
}

.roundedButton{

    font-size: 100px;
    font-family: "Zen Maru Gothic", sans-serif;
}
