h2{
    font-size: 100px;
}
.home{
	background-color: #4DA768;
    color: #FFFEF6;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 60px;
    font-size: 25px;
}
.tugi{
    background-color: #4DA768;
    color: #FFFEF6;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 60px;
    font-size: 25px;
}

h1{
    font-size: 100px;
}